<!DOCTYPE html>
<html lang="en">
<!-- This is the feed template page. Right now it just iterates through the list of requests
     passed to it by the feed view in views.py. It simply prints the title of each requests in
     list format. -->
<head>
    <meta charset="UTF-8">
    <title>Feed</title>
</head>
<body>

{% if requests_list %}
    <ul>
    {% for request in requests_list %}
        <li>{{ request.title }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No requests are available.</p>
{% endif %}

</body>
</html>