<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../../static/app/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>My Request</title>
  </head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href='http://localhost:8000/'>QuickTutor</a>
    <div id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href = 'http://localhost:8000/profile/' >My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href = 'http://localhost:8000/feed/' >Feed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href = 'http://localhost:8000/myRequest/' >Requests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href = 'http://localhost:8000/contacts/' >Messages</a>
        </li>
      </ul>
    </div>
  </nav>

  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Tutee Requests Page</h1>
        <p class="lead">This is where they will either create a request or display their current active request.</p>

      </div>
    </div>

    <!-- If they have no active requests... -->
    <div class="container">
        <!-- If the user has an active request, find which one and display the title. -->
        {% if user.has_active_request %}
            {% if requests_list %}
                {% for request in requests_list %}
                    {% if request.user == user.email %}
                      <h5>You currently have an active request: </h5>
                      <h5> &nbsp;&nbsp;&nbsp; {{ request.title }} </h5>
                    {% endif %}
                {% endfor %}
            {% endif %}

        <!-- Otherwise, show them the request creation form! -->
        {% else %}
        <h5>You have no active requests; create one below!</h5>
        <div class="row">
          <div class="col-sm-12">
            <div class="card text-white bg-secondary" style="padding:10px">
                          <div class="card-header">
                              <h2>My Request</h2>
                          </div> <br>
                          <form action="/myRequest/" method="post">
                            {% csrf_token %}
                              <div class="form-group">
                                  <label for="title"><h5>Title</h5></label>
                                  <input id="title" class="form-control" type="text" name="title" maxlength="100" required autofocus>
                              </div>
                              <div class="form-group">
                                      <label for="location"><h5>Location</h5></label>
                                      <input id="location" class="form-control" type="text" name="location" maxlength="50" required>
                              </div>
                              <div class="form-group">
                                  <label for="description"><h5>Description</h5></label>
                                  <input id="description" class="form-control" type="text" name="description" maxlength="300" required>
                                  <small class="form-text text-white">Include an estimated fee.</small>
                              </div>
                              <input type="submit" value="Submit" class="btn btn-success btn-lg" style="float:right; margin:0px 20px"/>
                          </form> <br>
            </div>
          </div>
        </div>
        {% endif %}
    </div> <br>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>