<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Profile</title>
  </head>
  <body>

    <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href='/'>QuickTutor</a>
    <div id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href = '/feed/' >Feed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href = '/myRequest/' >Request</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href = '/contacts/' >Messages</a>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user.email}}
          </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href='/profile/' >My Profile</a>
            <form action="/myRequest/" method="post" class="inline">
                {% csrf_token %}
                <input type=submit name='action' value='Logout' class="dropdown-item">
            </form>
        </div>
      </ul>
      </div>

  </nav><br>

  <!-- The tutor and tutee profile pages when a user clicks on 'View Profile' (from the Feed or
    Request pages) will most likely look different from the 'My Profile' view, hence the separation
    and current repetition of code -->
  {% if tutorORtutee %}
    <h1>You are Viewing this profile page</h1>
    <h2>Name: {{ tutorORtutee.get_full_name }} </h2><br>
    <h2>Email: {{tutorORtutee.email}}</h2>
    <p>Username: {{ tutorORtutee.username }} </p>
    <p>Groups: {{ tutorORtutee.groups }} </p>
    <p>User Permissions: {{ tutorORtutee.user_permissions }} </p>
    <p>Active: {{ tutorORtutee.is_active }} </p>
    <p>Last login: {{ tutorORtutee.last_login }} </p>
  {% else %}
    <!--You are this user-->
    <!-- <h2>Name: {{ user.get_full_name }} </h2><br>
    <h2>Email: {{user.email}}</h2>
    <p>Username: {{ user.username }} </p>
    <p>Groups: {{ user.groups }} </p>
    <p>User Permissions: {{ user.user_permissions }} </p>
    <p>Active: {{ user.is_active }} </p>
    <p>Last login: {{ user.last_login }} </p> -->
    <div class="content-section">
      <div class="media">
        <img class="round-circle account-img" src="{{ user.profile.image.url }}">
        <!-- getting issues with displaying images, will fix at later time-->
        <div class="media-body">
          <h2 class="account-heading">{{ user.get_full_name }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
    </div>
  {% endif %}
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>